/*Estilos da pagina index.html*/
*{

    margin: 0;
    padding:0;

    }   

body {
    background-color: #fefae0;
}

.center{
    text-align: center;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#menu li a:hover {
    color: gray;
}

.p-30 {
    padding: 60px;
}

.br-50 {
    border-radius: 50%;
}

.wh {
    width: 400px;
    height: 400px;
}

.Nav {
    background-color: #d4a373;
    top: 0;
    z-index: 1;
    position:sticky;
    padding: 10px;
}

.video {
    text-align: center;
    padding-bottom: 40px;
}

h2 {
    padding-bottom: 20px;
}

footer{
    width: 100%;
    padding: 20px 8%;
    background-color: #d4a373;
    color: black;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#copyright{
    color: black;
    font-weight: 500;
}

#footer_items{

    text-align: center;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

h1 {
    padding-top: 20px;
}

p {
    line-height: 40px;
}

.image {
    padding: 60px;
}


/*Estilos da pagina contato.html*/

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 25%;
    padding: 20px 10px;
    margin-bottom: 30px;
    background-color: #ccd5ae ;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.7);
    color :#1d1d1d;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #d4a373;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

button:hover {
    background-color: #e9edc9;
}

.titulo-contato {
    text-align: center;
    margin: 20px 0;
    font-size: 16px
}

.endereco {
    text-align: center;

}

.endereco iframe {
width: 85%;
    border-radius: 12px;
    margin-top: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}